.col-lg-3 pb-3{
    display: block;
}

.forecast-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px; 
}

.card {
    flex: 0 0 calc(20% - 10px); 
    width: 300px;
}



button {
    margin: 10px;
}